body {
  background-color:black;
}
h1{
  color: black;
  background: white;
  font-family: "Monaco";
  text-transform: uppercase;
}
p {
  color:#39FF14;
  background-color: black;
}
#highlight {
  color: black;
  background-color: #39FF14;
  border: 2px dotted #39FF14;
}
.top {
  background-color: #39FF14;
}
h3 {
  color: black;
  background-color: white;
  border: 3px double #39FF14;
}
img {
  border: 5px solid #39FF14;
  width: 35%;
  height: 35%;
}
